bin/
obj/
out/

# Python
__pycache__/
*.pyc
*.pyo
mcp/.venv/

# Claude Code
# .claude/
.mcp.json
CLAUDE.md
GUIDE.md

# Qoder
.qoder.json
/.idea/.idea.STS2_MCP/.idea/.gitignore
/.idea/.idea.STS2_MCP/.idea/.name
/.idea/.idea.STS2_MCP/.idea/awsToolkit.xml
/.idea/.idea.STS2_MCP/.idea/encodings.xml
/.idea/.idea.STS2_MCP/.idea/indexLayout.xml
/.idea/.idea.STS2_MCP/.idea/vcs.xml
/.idea/sts2-mcp.iml
